@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

:root {
  --main-font: 1.2rem;
  --description-font: .9rem;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.container {
  display: flex;
  width: 1200px;
  overflow-x: scroll;
  gap: 2rem;
  padding: 10px;
  outline: 2px solid #b9b9b9;
}

.container.draggable {
  cursor: grab;
}

.container.dragging {
  cursor: grabbing;
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #454b4770;
  border-radius: 12px;
  transition: background-color 0.3s ease-in-out;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: #454b47;
}

.container::-webkit-scrollbar-track {
  background-color: #b9b9b92d;
}

.container::-webkit-scrollbar-track:hover {
  background-color: #b9b9b993;
}

.card {
  counter-increment: card-counter;
  height: 500px;
  flex: 0 0 300px;
  border-radius: 12px;
  overflow: hidden;
  border: 2px solid rgb(73, 73, 73);
  position: relative;
}

.card::before {
  content: counter(card-counter);
  width: 50px;
  height: 50px;
  border-top-left-radius: 12px;
  border-bottom-right-radius: 50px;
  background-color: rgb(213, 216, 38);
  position: absolute;
  display: grid;
  place-items: center;
  padding-right: 5px;
  font-size: var(--main-font);
  color: rgb(255, 255, 255);
}

.card:active:before {
  background-color: rgb(240, 243, 52);
}

.description {
  padding: 10px 5px;
  height: 50%;
}

.pricing {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  border: none;
  padding: 5px;
  margin: 5px;
  width: 100%;
  border-radius: 5px;
  transition: .3s;
  font-size: var(--main-font);
}

button:hover {
  background-color: rgb(145, 145, 145);
  color: white;
  box-shadow: 2px 2px 2px rgba(80, 73, 187, 0.452);
}

h2 {
  font-size: var(--main-font);
  font-weight: 600;
  width: 100%;
}

h4 {
  font-size: var(--description-font);
  font-weight: 500;
  opacity: .9;
}

.image {
  height: 50%;
  background-image: url(images/photo-1565630427181-f6423c453e46.avif);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: .2s;
}

.image:hover {
  background-size: 120%;
}